<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./styles.css">
    <meta charset="utf-8">
    <title>All Characters</title>
  </head>
  <body>
    <header>
      <form class="" action="/" method="post">
        <button type="submit" name="new">Add Character</button>
      </form>
    </header>
    <section class="wrapper">
      {{>Character}}
    </section>
  </body>
</html>
