{{#cartoon}}
<a href="/character/{{_id}}">
<div class="toon" style="background-image: url({{avatar}})">
  <article class="filter">
    <h1>{{name}}</h1>
    <p>{{show}}</p>
  </article>
</div>
</a>
{{/cartoon}}
