<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Delete Confirmation</title>
  </head>
  <body>
    <header>
      <h1>He will be missed...</h1>
    </header>
    <main>
      <form class="" action="/allCharacters" method="post">
        <button type="button" name="button">Back to Home</button>
      </form>
    </main>

  </body>
</html>
